{% load static %}
<section class="pricing-list" id="plans">
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-offset="-300">

            <div class="col-sm-4">
                <div class="pricing-box selected">
                    <img src="https://img.icons8.com/cute-clipart/64/000000/bookmark.png" alt=""/>
                    <h6 class="font-weight-medium title-text">Uniqueness</h6>
                    <p>
                        Our writers ensure all content is unique. We also check each paper for plagiarism
                        before sending it to our customers. 
                    </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-box">
                    <img src="https://img.icons8.com/dusk/64/000000/home-office.png" alt=""/>
                    <h6 class="font-weight-medium title-text">Professional</h6>
                    <p>
                        Our global writing staff includes experienced, well trained ENL & ESL academic writers in a
                        variety of
                        disciplines.

                    </p>

                </div>
            </div>
            <div class="col-sm-4">
                <div class="pricing-box">
                    <img src="https://img.icons8.com/dusk/64/000000/money.png" alt=""/>
                    <h6 class="font-weight-medium title-text">Money Back Guarantee</h6>
                    <p>
                        Our Money Back Guarantee gives you the right to request and receive a refund at any stage incase
                        anything goes wrong.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>