{% load static %}
<section class="our-services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="text-dark">Services</h5>
                <h3 class="font-weight-medium text-dark mb-5">Our Services Include</h3>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="{% static 'images/design-development.svg'%}" alt="design-development" data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">
                        Academic writing & research
                    </h6>
                    <p class="read-more">
                        Our writers complete academic assignments of any complexity level and subject matter. Our
                        writers
                        search for correspondent materials and come up with authentic projects! If you need to be
                        ready for the seminar, discussion or you are in search of a custom-written paper (review,
                        essay, dissertation, term or research paper etc.), then our company is best-fit!

                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="{% static 'images/integrated-marketing.svg'%}" alt="integrated-marketing"
                        data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">
                        Technical Writing
                    </h6>
                    <p class="read-more">
                        If you are stumbled upon the task or an urgent need to have technical writing done, then you
                        landed in the right place! Note that the main purpose of technical writing is definitely not
                        to entertain the audience but to guide them in technical aspects. While completing technical
                        tasks, we communicate ideas through technical language related to the subject matter and
                        industry. (IT, genetics, engineering etc.).
                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="{% static 'images/digital-strategy.svg'%}" alt="digital-strategy" data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">
                        Article and blog writing
                    </h6>
                    <p class="read-more">
                        We create simple essays and blog posts on different topics, using SEO and marketing
                        analyses. Despite the fact that impeccable writing style is not the only decisive factor in
                        academic writing, we are maintaining a good reputation by providing assignments without
                        stylistic, grammar and spelling mistakes. Articles and blog posts are meticulously done
                        taking into account international standards, complex approaches and given problems.
                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box  pb-lg-0" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <img src="{% static 'images/digital-marketing.svg'%}" alt="digital-marketing" data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">
                        Creative Writing
                    </h6>
                    <p class="read-more">
                        We complete and edit creative works that trigger public attention and hook their interest.
                        Having gained vast experience in dealing with the engagement factors to make your story more
                        compelling and easy to comprehend. We are offering custom writing at a high level using our
                        knowledge, imagination and versatile unique techniques.
                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box pb-lg-0" data-aos="fade-down" data-aos-easing="linear"
                    data-aos-duration="1500">
                    <img src="{% static 'images/growth-strategy.svg'%}" alt="growth-strategy" data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">Editing and QC
                    </h6>
                    <p class="read-more">
                        In case you already have a paper, we are eager to polish it and make it sound more natural,
                        professional, convincing and error-free. We detect and eliminate a diversity of mistakes in
                        style, grammar, spelling, syntax etc. The team of professionally trained writers paraphrase
                        obscure parts and make them clear to the people of every walk of life. Additionally, we may
                        replenish your writing with unparalleled phrases and information if it lacks that.
                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 text-center text-lg-left">
                <div class="services-box pb-0" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="{% static 'images/saving-strategy.svg'%}" alt="saving-strategy" data-aos="zoom-in">
                    <h6 class="text-dark mb-3 mt-4 font-weight-medium">
                        Web Content
                    </h6>
                    <p class="read-more">
                        Our company has a great deal of knowledge developing content for websites all around the
                        world and handling complex requirements given by your institution. You may order a
                        plagiarism-free and quality content for web pages or blog. We easily operate data,
                        statistics and visual content to attract your target audience. Our designers are ready to
                        lend a helping hand in developing the design strategy! CustomWriting.com fulfils both simple
                        and big-scale projects.
                    </p>
                    <a href="{% url 'services-page' %}">
                        Read More <span class="mdi mdi-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="our-process" id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6" data-aos="fade-up">
                <h5 class="text-dark">Advantages</h5>
                <h3 class="font-weight-medium text-dark">This is What to expect</h3>
                
        
                <div class="d-flex justify-content-start mb-3">
                    <img src="{% static 'images/tick.png'%}" alt="tick" class="mr-3 tick-icon">
                    <p class="mb-0">Custom papers written from scratch</p>
                </div>
                <div class="d-flex justify-content-start mb-3">
                    <img src="{% static 'images/tick.png'%}" alt="tick" class="mr-3 tick-icon">
                    <p class="mb-0">No pre-written essays</p>
                </div>
                <div class="d-flex justify-content-start mb-3">
                    <img src="{% static 'images/tick.png'%}" alt="tick" class="mr-3 tick-icon">
                    <p class="mb-0">Extra fast delivery for urgent orders</p>
                </div>

                <div class="d-flex justify-content-start">
                    <img src="{% static 'images/tick.png'%}" alt="tick" class="mr-3 tick-icon">
                    <p class="mb-0">Quality writing help in any format</p>
                </div>
                
            </div>
            <div class="col-sm-6 text-right" data-aos="flip-left" data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                <img src="{% static 'images/idea.png'%}" alt="idea" class="img-fluid">
            </div>
        </div>
    </div>
</section>